<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.vsl.nutriplay">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/nutrilogo"
        android:label="NutriPlay"
        android:roundIcon="@drawable/nutrilogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizMe"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ForgotPassActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SpinnerActivity"
            android:exported="false" />
        <activity
            android:name=".ResultActivity"
            android:exported="false" />
        <activity
            android:name=".QuizActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>